.nav-active {
  opacity: 1;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.nav-pending {
  opacity: 0.65;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

#tab svg {
  vertical-align: text-bottom;
  margin-right: 10px;
}